@rem:750/16rem;
/*严格加分号 #F3F5F8*/
.cate_container{
  width: 100%;
  .cate_head{
    height: 100/@rem;
    position: relative;
    width: 100%;
      .find{
        margin-top: 24/@rem;
        margin-left: 24/@rem;
        text-align: center;
        line-height: 63/@rem;
        width: 634/@rem;
        height:63/@rem;
        background-color: #F3F5F8;
        border: 1px solid #E1E9F0;
        border-radius:30/@rem;
        .find_text{

        }
        .find_img{
          display: inline-block;
          color: #AAA0B1;
          font-size: 28/@rem;
          padding-left: 53/@rem;
          line-height: 41/@rem;
          background-image: url("../images/search.png");
          background-repeat: no-repeat;
          background-size:40/@rem 40/@rem;
        }
      }
    .cate_head_img{
      display: inline-block;
      position: absolute;
      top: 10/@rem;
      right: 24/@rem;
      width: 40/@rem;
      height:40/@rem;
      background-image: url("../images/service.png");
      background-repeat: no-repeat;
      background-size: cover;

    }
  }
}