.de_container {
  width: 100%;
  position: relative;
  /*评分顶部说明*/
}
.de_container .dm_banner {
  width: 100%;
  height: 16.21333333rem;
  /*小图标调整*/
}
.de_container .dm_banner .banner_right {
  width: 1.38666667rem;
  height: 1.38666667rem;
  border-radius: 50%;
  border-shadow: 0.02133333rem;
  background: #FFFFFF;
  position: absolute;
  top: 0.64rem;
  left: 0.64rem;
}
.de_container .dm_banner .banner_right a {
  width: 100%;
}
.de_container .dm_banner .banner_right a img {
  width: 100%;
}
.de_container .dm_banner .banner_collection {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border-shadow: 0.02133333rem;
  background: #FFFFFF;
  position: absolute;
  bottom: 5.12rem;
  right: 0.64rem;
  box-shadow: 0px 1px lightgrey;
}
.de_container .dm_banner .banner_collection a {
  display: block;
  line-height: 57px;
  padding-left: 3px;
  width: 100%;
  position: relative;
}
.de_container .dm_banner .banner_collection a img {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: -1.81333333rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 1.28rem;
}
.de_container .dm_banner .banner_title {
  margin-top: 0.85333333rem;
  font-size: 0.74666667rem;
  margin-left: 0.704rem;
  font-weight: 600;
}
.de_container .dm_banner .banner_selled {
  margin-top: 0.704rem;
  margin-left: 0.64rem;
  color: #A4A3A8;
}
.de_container .dm_banner .de_banner_index {
  bottom: 5.76rem;
}
.de_container .dm_banner .banner_price {
  position: absolute;
  bottom: 0.64rem;
  right: 0.64rem;
}
.de_container .dm_banner .banner_price span {
  color: red;
  font-size: 0.81066667rem;
}
.de_container .dm_banner .banner_price i:nth-of-type(1) {
  font-size: 0.36266667rem;
}
.de_container .dm_banner .banner_price i:nth-of-type(2) {
  font-size: 0.29866667rem;
  color: #A4A3A8;
}
.de_container .dm_banner .hr4 {
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 14.72rem;
  margin-left: 0.64rem;
  background: silver;
}
.de_container .tap {
  margin-top: 0.64rem;
  width: 100%;
  height: 2.13333333rem;
  display: flex;
  line-height: 2.13333333rem;
}
.de_container .tap div {
  flex: 1;
  text-align: center;
}
.de_container .tap div a {
  color: #000;
  font-size: 0.59733333rem;
}
.de_container .de_goods_light {
  width: 100%;
  position: relative;
}
.de_container .de_goods_light:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 1px;
  left: 0.64rem;
  background: #bdb2b2;
  transform: scaleY(0.5);
}
.de_container .de_goods_light .nothing1 {
  width: 100%;
  height: 1.088rem;
}
.de_container .de_goods_light h1 {
  text-align: center;
  margin-top: 1.45066667rem;
  font-size: 0.59733333rem;
}
.de_container .de_goods_light .light_act {
  margin-top: 1.472rem;
  margin-left: 0.78933333rem;
  width: 90%;
}
.de_container .de_goods_light .light_act h2 {
  text-align: center;
  margin-bottom: 0.42666667rem;
  font-size: 0.64rem;
  color: #595959;
}
.de_container .de_goods_light .light_act img {
  width: 100%;
}
.de_container .de_goods_light .light_act span {
  font-size: 0.55466667rem;
  color: #A4A3A8;
}
.de_container .de_goods_light .light_act1 {
  margin-top: 0.85333333rem;
  margin-left: 0.78933333rem;
  width: 90%;
}
.de_container .de_goods_light .light_act1 img {
  width: 100%;
}
.de_container .de_goods_light .light_act1 span {
  color: #A4A3A8;
  font-size: 0.55466667rem;
}
.de_container .de_goods_light1 {
  width: 100%;
  position: relative;
  margin-top: 2.56rem;
}
.de_container .de_goods_light1 .nothing1 {
  width: 100%;
  height: 1.088rem;
}
.de_container .de_goods_light1 h1 {
  text-align: center;
  font-size: 0.59733333rem;
  margin-top: 1.45066667rem;
}
.de_container .de_goods_light1 .light_act {
  margin-top: 1.472rem;
  margin-left: 0.78933333rem;
  width: 90%;
}
.de_container .de_goods_light1 .light_act span {
  color: #A4A3A8;
}
.de_container .user_score {
  width: 100%;
  height: 4.26666667rem;
}
.de_container .user_score .score_left {
  background: #F3F5F8;
  border-radius: 0.10666667rem;
  border: 1px silver solid;
  margin-left: 0.53333333rem;
  width: 4.56533333rem;
  height: 100%;
  text-align: center;
  line-height: 1.49333333rem;
}
.de_container .user_score .score_left .score_left_score {
  font-size: 0.59733333rem;
  font-weight: 600;
}
.de_container .user_score .score_left .score_left_comm {
  color: #9EB1C9;
  font-size: 0.34133333rem;
}
.de_container .user_score .score_left .score_left_star em {
  display: inline-block;
  width: 0.53333333rem;
  height: 0.53333333rem;
  background-image: url("../images/start_red.png");
  background-size: 0.53333333rem 0.53333333rem;
  background-repeat: no-repeat;
}
.de_container .user_score .score_right {
  width: 10.79466667rem;
  height: 3.84rem;
  text-align: center;
  line-height: 1.28rem;
  margin-top: 0.21333333rem;
}
.de_container .user_score .score_right .score_right1 {
  display: flex;
}
.de_container .user_score .score_right .score_right1 span {
  flex: 1;
  font-size: 0.512rem;
}
.de_container .user_score .score_right .score_right1 .score_right1_star1 em {
  display: inline-block;
  width: 0.576rem;
  height: 0.576rem;
  background-image: url("../images/start_red.png");
  background-size: 0.576rem 0.576rem;
  background-repeat: no-repeat;
}
.de_container .comm_list {
  width: 100%;
  margin-top: 1.36533333rem;
  position: relative;
}
.de_container .comm_list .comm_list_1 span {
  padding: 0 0.64rem;
  color: #9E9E9E;
  font-size: 0.59733333rem;
}
.de_container .comm_list .comm_list_1 .score_right1_star1 em {
  display: inline-block;
  width: 0.576rem;
  height: 0.576rem;
  background-image: url("../images/start_red.png");
  background-size: 0.576rem 0.576rem;
  background-repeat: no-repeat;
}
.de_container .comm_list .comm_list_2_title {
  color: #9E9E9E;
  font-size: 0.34133333rem;
  padding-left: 0.64rem;
  margin-top: 0.36266667rem;
}
.de_container .comm_list .comm_list_3_content {
  width: 100%;
  margin-top: 0.91733333rem;
  padding: 0 0.64rem;
  font-size: 0.64rem;
}
.de_container .comm_list .comm_list_4_time {
  padding-left: 0.64rem;
  font-size: 0.32rem;
  color: #9E9E9E;
  margin-top: 0.72533333rem;
}
.de_container .comm_list .hr7 {
  position: absolute;
  bottom: -0.74666667rem;
  height: 1px;
  width: 90%;
  left: 0.64rem;
  background: #9E9E9E;
}
.de_container .clickmore_comm_list {
  width: 100%;
  height: 0.85333333rem;
  margin-top: 1.70666667rem;
  text-align: center;
  font-size: 0.59733333rem;
}
.de_container .footer {
  width: 90%;
  position: fixed;
  bottom: 0;
  background: #FFFFFF;
  text-align: center;
  height: 2.13333333rem;
  border: 1px silver solid;
  line-height: 2.13333333rem;
  margin-left: 0.64rem;
  border-radius: 0.21333333rem;
  border-bottom: 0;
  display: flex;
}
.de_container .footer .img_atm img {
  margin-right: 0.85333333rem;
}
.de_container .footer .A a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  background: #55C1DD;
}
.de_container .footer .B a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  background: #FC5D7B;
}
.de_container .footer div {
  flex: 1;
}
.de_container .footer div img {
  margin-top: 0.64rem;
  width: 0.96rem;
}
.de_container .nothing6 {
  height: 2.98666667rem;
}
