/*通用样式*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  /*点击高亮*/
  -webkit-tap-highlight-color: transparent;
  /*盒子模型*/
  /*样式输入 tap*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*文字一直*/
  font-family: '微软雅黑', sans-serif;
}
/*input 标签 去掉默认样式*/
input {
  border: none;
  -webkit-appearance: none;
}
/*a text-de*/
a {
  text-decoration: none;
}
/*list-style*/
ol,
ul {
  list-style: none;
}
/*浮动设置*/
.f_l {
  float: left;
}
.f_r {
  float: right;
}
/*清除浮动*/
.clearfix::before,
.clearfix::after {
  content: '';
  display: block;
  line-height: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}
/*顶部*/
.dm_container {
  width: 100%;
  position: relative;
}
/*顶部设置*/
.dm_header {
  height: 2.13333333rem;
  width: 100%;
  background-color: rgba(202, 215, 226, 0.3);
  position: relative;
}
.dm_header .header_logo {
  width: 1.70666667rem;
  height: 1.19466667rem;
  position: absolute;
  right: 0;
  left: 9.17333333rem;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url("../images/search.png");
  background-size: 0.96rem 0.96rem;
  background-repeat: no-repeat;
}
.dm_header .header_logo2 {
  width: 1.70666667rem;
  height: 1.19466667rem;
  position: absolute;
  right: 0;
  left: 13.86666667rem;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url("../images/man.png");
  background-size: 0.85333333rem 0.85333333rem;
  background-repeat: no-repeat;
}
.dm_header .header_logo3 {
  width: 3.84rem;
  height: 1.83466667rem;
  position: absolute;
  left: 0.21333333rem;
  top: 0.27733333rem;
  background-image: url("../images/LOO.png");
  background-size: 3.84rem 1.70666667rem;
  background-repeat: no-repeat;
}
/*lunbo*/
.dm_banner {
  width: 100%;
  overflow: hidden;
  /*索引定位*/
  position: relative;
  /*小图标*/
}
.dm_banner .dm_banner_images {
  /*4倍宽度  横向 四张图片*/
  width: 600%;
  -webkit-transform: translateX(-16.667%);
  transform: translateX(-16.667%);
}
.dm_banner .dm_banner_images li {
  float: left;
  width: 16.6667%;
}
.dm_banner .dm_banner_images li a {
  display: block;
  width: 100%;
}
.dm_banner .dm_banner_images li a img {
  display: block;
  width: 100%;
}
.dm_banner .banner_index {
  position: absolute;
  bottom: 0.64rem;
  left: 50%;
  margin-left: -0.42666667rem;
}
.dm_banner .banner_index li {
  float: left;
  width: 0.21333333rem;
  height: 0.21333333rem;
  border-radius: 50%;
  border: 1px solid white;
  margin-left: 0.10666667rem;
}
.dm_banner .banner_index .current {
  background-color: #ff1493;
}
/*精选*/
.content_selected {
  width: 100%;
  overflow: hidden;
  margin-top: 8px;
}
/*div下划线问题实现*/
.content_selected .hr {
  height: 1px;
  width: 100%;
  float: left;
  margin-top: 1.49333333rem;
  background: silver;
}
.selected {
  width: 7.25333333rem;
}
.selected a img {
  width: 7.25333333rem;
}
.selected:nth-of-type(1) {
  margin-left: 0.59733333rem;
}
.selected:nth-of-type(2) {
  margin-left: 0.36266667rem;
}
.selected_title {
  font-size: 0.85333333rem;
  margin-top: 1.25866667rem;
  margin-bottom: 0.64rem;
  margin-left: 0.64rem;
  font-family: monospace;
  font-weight: 800;
}
/* recommend*/
.content_recommend .recommend_img_list {
  width: 300%;
}
.content_recommend .recommend_img_list li {
  float: left;
  display: block;
  width: 6.976rem;
}
.content_recommend .recommend_img_list li:nth-of-type(1) {
  margin-left: 0.64rem;
}
.content_recommend .recommend_img_list li:nth-of-type(n+2) {
  margin-left: 0.512rem;
}
.content_recommend .recommend_img_list li img {
  display: block;
  height: auto;
  width: 6.976rem;
}
/*精选*/
.content_recommend2 .recommend_img_list {
  width: 300%;
}
.content_recommend2 .recommend_img_list li {
  float: left;
  display: block;
  width: 13.952rem;
}
.content_recommend2 .recommend_img_list li:nth-of-type(1) {
  margin-left: 0.64rem;
}
.content_recommend2 .recommend_img_list li:nth-of-type(n+2) {
  margin-left: 0.512rem;
}
.content_recommend2 .recommend_img_list li img {
  display: block;
  height: auto;
  width: 13.952rem;
}
.content_recommend2 .p_text {
  margin-top: 0.78933333rem;
  width: 100%;
  font-weight: bold;
  font-family: '微软雅黑', sans-serif;
  font-size: 0.78933333rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.shop_num {
  display: inline-block;
  margin-top: 0.49066667rem;
  color: #8d8787;
}
.shop_price {
  display: inline-block;
  float: right;
  margin-top: 0.96rem;
}
.shop_price i {
  color: red;
}
.shop_price em {
  padding-left: 0.21333333rem;
  font-size: 0.29866667rem;
  color: #8d8787;
}
.footer_wrap {
  width: 100%;
  background: #FFFFFF;
  position: absolute;
  bottom: 0;
}
.footer_wrap .footer {
  width: 99%;
  bottom: 0;
  position: fixed;
  background: #fff;
  display: flex;
  text-align: center;
  margin-left: 0.21333333rem;
  border-bottom: 1px silver solid;
  border-bottom: 0;
  border-radius: 0.21333333rem;
}
.footer_wrap .footer div {
  flex: 1;
}
.footer_wrap .footer div a {
  color: #55C1DD;
  font-size: 0.59733333rem;
}
.footer_wrap .footer div a img {
  width: 0.85333333rem;
  margin-right: 0.192rem;
}
.footer_wrap .footer1 {
  width: 100%;
  bottom: 0;
  position: fixed;
  background: #fff;
  display: flex;
  text-align: center;
  border-bottom: 1px silver solid;
  border-bottom: 0;
  border-radius: 0.21333333rem;
}
.footer_wrap .footer1 div {
  flex: 1;
}
.footer_wrap .footer1 div a {
  color: #55C1DD;
  font-size: 0.59733333rem;
}
.footer_wrap .footer1 div a img {
  width: 0.85333333rem;
  margin-right: 0.192rem;
}
.footer_wrap .while {
  height: 2.02666667rem;
}
/*
.footer .hr1{
  height: 1px;
  background: rgba(223,223,223,0.5);
  margin-top: 10/@rem;
}
.footer .footer-list{
  display: flex;
  font-family:宋体;
  color:darkgrey;
}
.footer .footer-list li:nth-of-type(1){
  width: 100/@rem;
  float: left;
  height: 66/@rem;
  margin-left: 70/@rem;
}
.footer .footer-list li:nth-of-type(2){
  margin-left: 70/@rem;
}
.footer .footer-list li:nth-of-type(3){
  margin-left: 110/@rem;
}
.footer .footer-list li:nth-of-type(4){
  margin-left: 130/@rem;
}
.footer .footer-list li img{
  width: 40/@rem;
}
*/
